@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-font-family : 'Inter Tight', sans-serif;
    --primary-bg-color : #2e2a27;
    --primary-text-color : #e8e2da;
}

body{
    height : 100%;
    font-family: var(--primary-font-family);
    background-color: var(--primary-bg-color);
    font-optical-sizing: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

.cover-image{
    width: 100%;
    height : 100vh;
    background-image: url("assets/img1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
