@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-font-family : 'Inter Tight', sans-serif;
    --primary-bg-color : #2e2a27;
    --primary-text-color : #e8e2da;
}

body{
    height : 100%;
    font-family: var(--primary-font-family);
    background-color: var(--primary-bg-color);
    font-optical-sizing: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

.cover-image{
    width: 100%;
    height : 100vh;
    background-image: url("assets/img1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.is--nav{
    position: sticky;
    top : 0;
    z-index: 1000;
    background-color: var(--primary-bg-color);
}

#site-header{
    width: 100%;
    z-index: 10;
    text-align: center;
    background-color: var(--primary-bg-color);

    & .site-nav{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 2rem 0rem;
        border-bottom: var(--primary-text-color) 1px solid;
        color: var(--primary-text-color);
        margin: 0 2rem;

        & ul{
            display: flex;
            gap: 1rem;
            list-style: none;

            & li a{
                color: var(--primary-text-color);
                text-transform: uppercase;
                font-size: 1.6vw;
                letter-spacing: -1px;
                font-weight: 500;

                &:hover{
                    color: #8c8c8c;
                }
            }
        }

        & .site-title{
            font-size: 1.8vw;
            font-weight: 700;
            letter-spacing : -1px;
        }

        & .copy-right{
            text-transform: uppercase;
            font-size: 1.6vw;
            font-weight:500;
        }
    }
}

/* Styling for the main section */
#site-main{
    & #discover{
        display: flex;
        justify-content: center;

        & .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 8.79rem;
            text-align: center;

            & .slide > h1{
                display: block;
                font-size: 13.8vw;
                font-weight: 700;
                color: var(--primary-text-color);
                letter-spacing: -4px;
                line-height: 0.8;

                &.lightweight{
                    font-weight: 300;
                    font-style: italic;
                }
            }
        }
    }
}